@font-face {
  font-family: Tajrid;
  font-style: normal;
  font-weight: 200;
  src: url("woff/Tajrid-UltraLight.woff") format("woff"),
    url("woff2/Tajrid-UltraLight.woff2") format("woff2"),
    url("eot/Tajrid-UltraLight.eot") format("eot");
}

@font-face {
  font-family: Tajrid;
  font-style: normal;
  font-weight: 300;
  src: url("woff/Tajrid-Light.woff") format("woff"),
    url("woff2/Tajrid-Light.woff2") format("woff2"),
    url("eot/Tajrid-Light.eot") format("eot");
}

@font-face {
  font-family: Tajrid;
  font-style: normal;
  font-weight: 500;
  src: url("woff/Tajrid-Medium.woff") format("woff"),
    url("woff2/Tajrid-Medium.woff2") format("woff2"),
    url("eot/Tajrid-Medium.eot") format("eot");
}

@font-face {
  font-family: Tajrid;
  font-style: normal;
  font-weight: 600;
  src: url("woff/Tajrid-SemiBold.woff") format("woff"),
    url("woff2/Tajrid-SemiBold.woff2") format("woff2"),
    url("eot/Tajrid-SemiBold.eot") format("eot");
}

@font-face {
  font-family: Tajrid;
  font-style: normal;
  font-weight: bold;
  src: url("woff/Tajrid-Bold.woff") format("woff"),
    url("woff2/Tajrid-Bold.woff2") format("woff2"),
    url("eot/Tajrid-Bold.eot") format("eot");
}

@font-face {
  font-family: Tajrid;
  font-style: normal;
  font-weight: normal;
  src: url("woff/Tajrid-Regular.woff") format("woff"),
    url("woff2/Tajrid-Regular.woff2") format("woff2"),
    url("eot/Tajrid-Regular.eot") format("eot");
}
